@charset "utf-8";
@import "type";
@import "basis.scss";//导入自己的库文件

header{
    display: flex;
    align-items: center;
    #menu{

        &:checked ~ .nav {
            background-color: red;
            transition:ease 500ms;
        }
    }
}

main{
    transform: translateX(0px);
    transition: transform 500ms ease;

    z-index: 1;
    position: relative;
    width: 100%;
    background-color: #f0f0f0;
}
.lastgeme{
    height: 8vw;
    position: relative;
    font-size: 4.5vw;
    font-weight: lighter;
    color: #bfc0c1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: $border-style ;
    margin: 6.5rem 15px 15px 15px;
}
.lastgeme-span2{
    position: absolute;
    right: 1%;
}
.chosegame{//选择游戏
    position: relative;
    border: $border-style ;
    background-color: white;
    margin: 0 15px 5rem 15px;

}
.chosegame-title{//捉鬼游戏标题
    line-height: 5.5vw;
    font-size: 4vw;
    color: #f8b445;
    text-align: center;
    border-bottom:#f8b445 1px solid;

}
.content{
    text-align: center;
    font-size:12px;

    button{
        margin: 10px 0;
        width: 35vw;
        height: 10vw;
        background-color: #34bddd;
        color: white;
        font-size:4.7vw;
        &:hover{
            background-color: #61ddeb;
            cursor: pointer;
        }

    }
    .jump-point{
        display: inline-block;
        width: 8px;
        height: 8px;
        border: $border-style;
        border-radius: 50%;
        margin: 3px 1px;
        &:hover{
            background-color: #bfc0c1;
        }
    }
    img{
        @include center-vertically;
        transform: translateY(-50%) scale(.7);

        right: 2%;
    }

}
.nav{
    transition: left 500ms ease;
    box-shadow:#a0a1a2 -2px 0 10px  inset ;
    position: fixed;
    top: 5rem;
    left: -80vw;
    height:100%;
    width: 80vw;
    background-color: white;
    z-index: 200;
    ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: $border-style;
        line-height: 6vw;
        padding-right: 15px;
        font-size: 6vw;
        color: #34bddd;
        &:hover img{
            transform:scale(1.2);
        }

    }
}
.li-right{
    display: flex;
    align-items: center;
    font-size: 3vw;

    img{
        width: 3vw;
        height: 3vw;
        margin: 0 10px;
    }

}
.menu{
    position: fixed;
    top:5px;
    left:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    z-index: 200;
    span{
        position: relative;
        display: block;
        width: 50%;
        height: 3px;
        background: #fff;
        float: left;
        transform-origin: center;
        transition: transform 250ms ease;
        z-index: 200;
    }
    span:nth-of-type(1) {
        transform: translateY(-5px);
    }
    span:nth-of-type(3) {
        transform: translateY(5px);
    }
}
#menu{
    display: none;
    &:checked ~.nav{
        left: 0;
         transition: left 500ms ease;
    }
    &:checked ~main{
        transform: translateX(80vw);
        transition: transform 500ms ease;

    }}